@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Add this to your CSS file */
@keyframes blueGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-shadow {
  text-shadow: 2px 3px 2px #000000;
}
